apiVersion: v1
kind: ConfigMap
metadata:
  name: wordpress-config
  namespace: wordpress
data:
  wp-config.php: |
    <?php
    define( 'DB_NAME', '${DB_NAME}' );
    define( 'DB_USER', '${DB_USER}' );
    define( 'DB_PASSWORD', '${DB_PASSWORD}' );
    define( 'DB_HOST', '${DB_HOST}' );
    define( 'REDIS_HOST', '${REDIS_HOST}' );
    define( 'REDIS_PORT', 6379 );
    define( 'DB_CHARSET', 'utf8' );
    define( 'DB_COLLATE', '' );
    
    $table_prefix = 'wp_';
    
    define( 'WP_DEBUG', false );
    
    if ( ! defined( 'ABSPATH' ) ) {
      define( 'ABSPATH', __DIR__ . '/' );
    }
    
    require_once ABSPATH . 'wp-settings.php';
