image:
  registry: docker.io
  repository: grafana/promtail
  tag: 3.4.2

# Resource configuration
resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

# Configuration
config:
  clients:
    - url: http://loki-gateway/loki/api/v1/push